@use '@angular/material' as mat;


mat-toolbar {
    background-color: lightseagreen;
    width: 100%;
    height: 65px;
    justify-content: space-between;
}

.app-name {
    color: white;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 500px;
}

