<mat-toolbar>
    <span class="app-name">The Book Nook</span>

    <!-- TODO: Add a buttons (link buttons) for core navigation -->
</mat-toolbar>

<!-- <div class="buttons-container">
    <button mat-button>mat-button</button>
    <button mat-raised-button>mat-raised-button</button>
    <button mat-stroked-button>mat-stroked-button</button>
    <button mat-flat-button>mat-flat-button</button>
    <button mat-fab>mat-fab</button>
    <button mat-mini-fab>mat-mini-fab</button>
    <button mat-fab extended>mat-fab extended</button>
</div> -->
