<!-- Main page container -->
<div class="dashboard-container">

    <!-- Title container for "The Book Nook" at the very top -->
    <div class="title-container">
        <h1>Book Nook 1</h1>
    </div>

    <!-- Overall bookshelf container (e.g. carousel buttons, the shelf) -->
    <div class="bookshelf-container">
        
        <!-- TODO: replace with icons/svg -->
        <div class="left-button-container">
            <button>LEFT</button>
        </div>

        <!-- TODO: implement the actual shelf/nook -->
        <div class="bookshelf">
            The Actual Bookshelf
        </div>

        <div class="right-button-container">
            <button>RIGHT</button>
        </div>

    </div>

</div>