.room-container {
    justify-content: space-between;
    align-items: center;
}

.book-shelf-outer {
    background-color: #876c57;
    height: 500px;
    width: 750px;
    margin: 10% auto;
    margin-bottom: 0;
    border-radius: 6px;
    display: grid;
    place-items: center;
}

.book-shelf-inner {
    background-color: #45322e;
    height: 460px;
    width: 720px;
    border-radius: 6px;
    position: relative;
}

.shelf-separator {
    background-color: #876c57;
    height: 10px;
    width: 720px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.room-floor {
    background-color: #45322e;
    height: 15vh;
    width: 100%;
    justify-items: center;
}

.floor-shadow {
    background-color: black;
    height: 2vh;
    width: 900px;
    border-radius: 25px;
}