<!-- "The room" that holds all the objects (e.g. bookshelf, decorations, the floor, etc.) -->
<div class="room-container">

    <!-- Outer bookshelf frame (lighter brown / lighter coloured) -->
    <div class="book-shelf-outer">

        <!-- Inner bookshelf (a.k.a the shelf's insides) to store the books -->
        <div class="book-shelf-inner">

            <app-empty-book-slot></app-empty-book-slot>

            <!-- Separator between the two shelf rows. Doesn't do anything. Basically a divider. -->
            <div class="shelf-separator"></div>



        </div>
    </div>

    <!-- Room floor that is placed under the shelf -->
    <div class="room-floor">
        <!-- The shadow under the bookshelf -->
        <div class="floor-shadow"></div>
    </div>

</div>
