<div class="add-book-container">

    <mat-card>

        <mat-card-header>
            <mat-card-title>
                Add a book to your library!
            </mat-card-title>
        </mat-card-header>

        <mat-card-content class="form-fields-container">

            <form class="add-book-form">

                <!-- TODO: Have 2 columns: 1 for cover image, one for the form filling -->
                <!-- <table>

                </table> -->

                <!-- TODO: Add images input AND (set image as cover image select) -->

                <mat-form-field>
                    <mat-label>Title</mat-label>
                    <input matInput placeholder="E.g. The Midnight Library">
                </mat-form-field>
        
                <mat-form-field>
                    <mat-label>Author</mat-label>
                    <input matInput placeholder="E.g. Matt Haig">
                </mat-form-field>
        
                <mat-form-field>
                    <mat-label>Description</mat-label>
                    <textarea matInput #description></textarea>
                    <mat-hint align="start">You can also write a synopsis instead.</mat-hint>
                    <mat-hint align="end">{{description.value.length}}/500</mat-hint>
                </mat-form-field>
        
                <!-- TODO: Add a star rating system (0.5 step) -->
                <!-- <mat-form-field>
                    <mat-label>Rating</mat-label>
                    <mat-slider 
                    [min]="0"
                    [max]="5"
                    >
                        <input matSliderThumb #slider>
                    </mat-slider>
                </mat-form-field> -->
        
                <mat-form-field>
                    <mat-label>Language</mat-label>
                    <mat-select>
                        <mat-option value="English">English</mat-option>
                        <mat-option value="Bahasa Indonesia">Bahasa Indonesia</mat-option>
                        <mat-option value="Chinese (Simplified)">Chinese (Simplified)</mat-option>
                        <mat-option value="Others (to be added)">Others (to be added)</mat-option>
                    </mat-select>
                    <mat-hint align="start">More languages will be added in future updates.</mat-hint>
                </mat-form-field>
        
                <!-- TODO: Add an option to add more statuses? -->
                <mat-form-field>
                    <mat-label>Status</mat-label>
                    <mat-select>
                        <mat-option value="Read">Read</mat-option>
                        <mat-option value="Unread">Unread</mat-option>
                    </mat-select>
                </mat-form-field>
        
                <!-- TODO: Update class name -->
                <mat-form-field class="example-chip-list">
                    <mat-label>Genres</mat-label>
                    <mat-chip-grid #chipGrid aria-label="Enter fruits">
                      @for (genre of genres(); track genre) {
                        <mat-chip-row
                          (removed)="remove(genre)"
                          [editable]="true"
                          (edited)="edit(genre, $event)"
                          [aria-description]="'press enter to edit ' + genre.name"
                        >
                          {{genre.name}}
                          <button matChipRemove [attr.aria-label]="'remove ' + genre.name">
                            <mat-icon>cancel</mat-icon>
                          </button>
                        </mat-chip-row>
                      }
                      <input
                        placeholder="New genre..."
                        [matChipInputFor]="chipGrid"
                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                        [matChipInputAddOnBlur]="addOnBlur"
                        (matChipInputTokenEnd)="add($event)"
                      />
                    </mat-chip-grid>
                    <mat-hint align="start">You can add more genres to the list!</mat-hint>
                  </mat-form-field>
        
            </form>            

        </mat-card-content>

        <mat-card-actions>
            <button mat-flat-button>
                <mat-icon>add</mat-icon>
            </button>
        </mat-card-actions>

    </mat-card>

</div>